
.black-link{
	color: black !important;
}

.black-link-underline{
	color: black !important;
	text-decoration:underline;
}

.header {
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 999 !important;
}
.header h1{
    margin :0px;
}

.header button {
  background-color: white;
    border: none;
    color: black;
    padding: 1px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    margin: 1px;
    cursor: pointer;
}

.main {
  margin-top: 60px;
  margin-bottom: 60px;
  z-index: 99 !important;
}

.outer {
  height: calc(100vh - 140px) !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.inner {
  flex: 1;
  overflow-y: scroll;
}

.footer {
   position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 999 !important;
}

.gallery-p-center {
  text-align: center;
  font-weight: bold;
} 